<mat-checkbox>Sinuzite sur la moonbase</mat-checkbox>
<style>
div{
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px; 
    }

</style>
<div>
    <mat-grid-list cols="3" rowHeight="600px">
        <mat-grid-tile colspan = "2" style="background-color: rgb(125, 97, 153);">1</mat-grid-tile>
        <mat-grid-tile style="background-color: rgb(132, 171, 223);">2</mat-grid-tile>
        <mat-grid-tile style="background-color: rgb(169, 129, 209);">3</mat-grid-tile>
        <mat-grid-tile style="background-color: rgb(50, 189, 231);">4</mat-grid-tile>
        
</mat-grid-list>
</div>
<svg>
  <g #svg>
      <g *ngFor="let i of primitives" [ngSwitch]="i.type" (mousedown)="mouseDownOnPage($event,i);"
          (mouseup)="mouseUpOnPage($event,i);" (mousemove)="mouseMoveOnPage($event,i);"
          (click)="clickOnPage($event,i);" (contextmenu)="clickOnPage($event,i);">
          <g *ngIf="i.toShow" [attr.transform]="i.transformations">
              <rect *ngSwitchCase="PrimitiveType.Perimeter" [attr.x]="i.position.x" [attr.y]="i.position.y"
                  [attr.width]="i.getAbsoluteWidth()" [attr.height]="i.getAbsoluteHeight()"
                  [attr.fill]="i.fillColor.asString()" [attr.stroke]="i.strokeColor.asString()"
                  [attr.stroke-width]="i.strokeWidth" [attr.stroke-dasharray]="'4'"></rect>

              <rect *ngSwitchCase="PrimitiveType.Rectangle" [attr.x]="i.position.x" [attr.y]="i.position.y"
                  [attr.width]="i.getAbsoluteWidth()" [attr.height]="i.getAbsoluteHeight()"
                  [attr.fill]="i.fillColor.asString()" [attr.stroke]="i.strokeColor.asString()"
                  [attr.stroke-width]="i.strokeWidth"></rect>

              <ellipse *ngSwitchCase="PrimitiveType.Ellipse" [attr.cx]="i.center.x" [attr.cy]="i.center.y"
                  [attr.rx]="i.radiusX" [attr.ry]="i.radiusY" [attr.fill]="i.fillColor.asString()"
                  [attr.stroke]="i.strokeColor.asString()" [attr.stroke-width]="i.strokeWidth"
                  [attr.transform]="i.rotationTransformation"></ellipse>

              <path *ngSwitchCase="PrimitiveType.Asset" [attr.transform]="i.assetTransformations"
                  [attr.fill]="i.info.color.rgbaTextForm" [attr.d]="i.info.image"
                  [attr.transform-origin]="i.origin"></path>

              <polygon *ngSwitchCase="PrimitiveType.Polygon" [attr.points]="i.listPoints"
                  [attr.fill]="i.fillColor.asString()" [attr.stroke]="i.strokeColor.asString()"
                  [attr.stroke-width]="i.strokeWidth"></polygon>

              <g *ngSwitchCase="PrimitiveType.Text">
                  <text class="svgText" [style.font-family]="i.font.family" [style.font-weight]="i.fontWeight"
                      [style.font-style]="i.fontStyle" [attr.font-size]="i.size" [attr.text-anchor]="i.align.value"
                      [attr.x]="i.position.x" [attr.y]="i.position.y" [attr.fill]="i.textColor.asString()">
                      <tspan *ngFor="let line of i.lines" [attr.x]="line.position.x" [attr.y]="line.position.y">
                          {{line.innertext}}
                      </tspan>
                  </text>
              </g>

              <g *ngSwitchCase="PrimitiveType.Line">
                  <path [attr.d]="i.linePoints" [attr.stroke-linejoin]="LINE_JOIN_TYPE[i.lineJoin]"
                      [attr.stroke-linecap]="LINE_CAP_TYPE[i.lineCap]"
                      [attr.stroke-dasharray]="PATTERN_TYPE[i.pattern]" [attr.stroke]="i.strokeColor.asString()"
                      [attr.stroke-width]="i.strokeWidth" fill="none">
                  </path>
                  <g *ngFor="let cercle of i.circlePoints">
                      <circle [attr.cx]="cercle.x" [attr.cy]="cercle.y" [attr.r]="i.circleRadius"
                          [attr.fill]="i.strokeColor.asString()"></circle>
                  </g>
              </g>

              <g *ngSwitchCase="PrimitiveType.Pencil">
                  <path [attr.d]="i.commandSvg" [attr.stroke]="i.strokeColor.asString()" fill="none"
                      [attr.stroke-width]="i.strokeWidth" stroke-linejoin="round" stroke-linecap="round">
                  </path>
              </g>

              <g *ngSwitchCase="PrimitiveType.Pen">
                  <g *ngFor="let item of i.paths;">
                      <path [attr.d]="item.commandSVG" [attr.stroke]="i.strokeColor.asString()" fill="none"
                          [attr.stroke-width]="item.strokeWidth" stroke-linejoin="round" stroke-linecap="round">
                      </path>
                  </g>
              </g>
              <g *ngSwitchCase="PrimitiveType.Quill">
                  <g *ngFor="let points of i.linePoints;">
                      <polyline [attr.points]="points" [attr.fill]="i.strokeColor.asString()"
                          [attr.stroke]="i.strokeColor.asString()" stroke-width="1" stroke-linejoin="round">
                      </polyline>
                  </g>
              </g>
              <g *ngSwitchCase="PrimitiveType.Spraypaint">
                  <circle *ngFor="let point of i.points;" [attr.cx]="point.x" [attr.cy]="point.y"
                      [attr.r]="i.POINT_SIZE" [attr.fill]="i.strokeColor.asString()">
                  </circle>
              </g>

              <defs *ngSwitchCase="PrimitiveType.Paint" [ngSwitch]="i.texture">
                  <filter *ngSwitchCase="Texture.Basic" [attr.id]="FILTER_IDS[0]" filterUnits="userSpaceOnUse" x="0"
                      y="0" width="100%" height="100%">
                      <feOffset in="gauss" dx="0" dy="0" result="offSet"></feOffset>
                      <feMerge>
                          <feMergeNode in="offSet"></feMergeNode>
                      </feMerge>
                  </filter>

                  <filter *ngSwitchCase="Texture.Grayed" [attr.id]="FILTER_IDS[1]" filterUnits="userSpaceOnUse" x="0"
                      y="0" width="100%" height="100%">
                      <feTurbulence type="turbulence" baseFrequency="0.06" numOctaves="6" result="turb">
                      </feTurbulence>
                      <feDisplacementMap in2="turb" in="SourceGraphic" scale="50" xChannelSelector="R"
                          yChannelSelector="G" result="turb-disp"></feDisplacementMap>
                      <feGaussianBlur in="SourceGraphic" in2="turb-disp" result="gauss" stdDeviation="4">
                      </feGaussianBlur>
                      <feSpecularLighting in="gauss" result="gauss-spec" surfaceScale="10" specularExponent="15"
                          specularConstant=".75" lighting-color="white">
                          <fePointLight x="60" y="60" z="10000"></fePointLight>
                      </feSpecularLighting>
                      <feOffset in="gauss" dx="2" dy="3" result="gauss-offSet"></feOffset>
                      <feComposite in="gauss-spec" in2="SourceAlpha" operator="in" result="gauss-spec"></feComposite>
                      <feComposite in="SourceGraphic" in2="gauss-spec" operator="arithmetic" k1="1" k2="1" k3="1"
                          k4="0" result="paintShadow"></feComposite>
                      <feMerge>
                          <feMergeNode in="gauss-offSet"></feMergeNode>
                          <feMergeNode in="paintShadow"></feMergeNode>
                      </feMerge>
                  </filter>

                  <filter *ngSwitchCase="Texture.Light" [attr.id]="FILTER_IDS[2]" filterUnits="userSpaceOnUse" x="0"
                      y="0" width="100%" height="100%">
                      <feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="3" result="turb">
                      </feTurbulence>
                      <feDisplacementMap in2="turb" in="SourceGraphic" scale="90" xChannelSelector="R"
                          yChannelSelector="G" result="turb-disp"></feDisplacementMap>
                      <feGaussianBlur in="SourceGraphic" in2="turb-disp" result="gauss" stdDeviation="4">
                      </feGaussianBlur>
                      <feSpecularLighting in="gauss" result="gauss-spec" surfaceScale="70" specularExponent="15"
                          specularConstant=".75" lighting-color="white">
                          <fePointLight x="-6000" y="10000" z="20000"></fePointLight>
                      </feSpecularLighting>
                      <feOffset in="gauss" dx="2" dy="3" result="gauss-offSet"></feOffset>
                      <feComposite in="gauss-spec" in2="SourceAlpha" operator="in" result="gauss-spec"></feComposite>
                      <feComposite in="SourceGraphic" in2="gauss-spec" operator="arithmetic" k1="1" k2="1" k3="1"
                          k4="0" result="paintShadow"></feComposite>
                      <feMerge>
                          <feMergeNode in="gauss-offSet"></feMergeNode>
                          <feMergeNode in="paintShadow"></feMergeNode>
                      </feMerge>
                  </filter>

                  <filter *ngSwitchCase="Texture.Frothy" [attr.id]="FILTER_IDS[3]" filterUnits="userSpaceOnUse" x="0"
                      y="0" width="100%" height="100%">
                      <feTurbulence type="turbulence" baseFrequency="0.8" numOctaves="5" result="turb2">
                      </feTurbulence>
                      <feDisplacementMap in2="turb2" in="SourceGraphic" result="disp-turb2" scale="30"
                          xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
                      <feMerge>
                          <feMergeNode in="disp-turb2"></feMergeNode>
                      </feMerge>
                  </filter>

                  <filter *ngSwitchCase="Texture.Degraded" [attr.id]="FILTER_IDS[4]" filterUnits="userSpaceOnUse"
                      x="0" y="0" width="100%" height="100%">
                      <feTurbulence type="turbulence" baseFrequency="0.08" numOctaves="2" result="turb1">
                      </feTurbulence>
                      <feDisplacementMap in2="turb1" in="SourceGraphic" result="disp-turb1" scale="20"
                          xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
                      <feMerge>
                          <feMergeNode in="disp-turb1"></feMergeNode>
                      </feMerge>
                  </filter>
              </defs>

              <g *ngSwitchCase="PrimitiveType.Paint" [attr.filter]="'url('+'#'+FILTER_IDS[i.texture]+')'">
                  <path [attr.d]="i.commandSvg" [attr.stroke]="i.strokeColor.asString()" fill="none"
                      [attr.stroke-width]="i.strokeWidth" [attr.transform]="i.rotationTransformation"
                      stroke-linejoin="round" stroke-linecap="round">
                  </path>
              </g>
          </g>
      </g>
  </g>
</svg>